@use "../presets" as *;
@use "../mixins" as *;

.team-menu span {
  background-color: $color-black;
}

.team-menu ol {
  top: unset;

  @include lg {
    justify-content: center;
  }
}

.team-menu a {
  color: $color-active;
  font-weight: 500;
}

.menu {
  &__active a {
    color: $color-accent;
    border-bottom: 2px solid $color-accent;
  }
}