@use "../presets" as *;
@use "../mixins" as *;

.logo-item {
  display: flex;
  gap: $gap;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-item img {
  width: 67%;
  max-height: 70%;
}