@use "../presets" as *;
@use "../mixins" as *;

.team {
  padding-top: 60px;

  &__container {
    display: flex;
    background: $color-gray-bg;
    border-radius: 12px;
    animation-name: slider;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    width: 300%;
  }

  @keyframes slider {
    0% {
      margin-left: 0;
    }

    25% {
      margin-left: 0;
    }

    33.34% {
      margin-left: -100%;
    }

    58.34% {
      margin-left: -100%;
    }

    66.66% {
      margin-left: -200%;

    }

    91.66% {
      margin-left: -200%;
    }

    100% {
      margin-left: 0;
    }
  }

  &__viewport {
    @extend %container;
    overflow: hidden;
  }

  &__visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
  }

}