$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;
$color-accent: #f0145a;
$color-accent-light: #ef8080;
$color-accent-dark: #7a425e;
$color-accent-dark2: #643e72;
$color-active: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;
$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #1c4280;
$color-gray-blue: #143646;
$color-orange: #f48B30;
$color-violet: #9e4dc3;
$color-orange-light: #fd9339;
$color-gray-light: #e2e2e4;
$color-red: #c71c36;
$color-blue-light :#dcf3f9;
$color-gray-inf: #eaeaea;
$color-violet-dark: #282240;
$color-blue-art: #1d4568;
$color-transparent: #32326400;
$linear-gradient1: linear-gradient(42deg, $color-primary 15%, $color-primary 50%, $color-accent-dark 88%);
$linear-gradient2: linear-gradient(180deg, $color-transparent 16.67%, $color-primary 100%);
$linear-gradient3: linear-gradient(217deg, $color-primary 12%, $color-primary 65%, $color-accent-dark2 87%);
$text-gradient: linear-gradient(90deg, $color-accent-light 1%, $color-accent 100%);
$text-gradient-invert: linear-gradient(90deg, $color-accent 1%, $color-accent-light 100%);